<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zulong.keel.cmdb.db.dao.CollectionDao">
	<resultMap id="CollectionResultMap" type="com.zulong.keel.cmdb.db.model.Collection">
	</resultMap>

	<insert id="insertAndGetAotuIncrementID" parameterType="com.zulong.keel.cmdb.db.model.Collection">
		insert into collection ( accountid, folderid, immortalid )
		values (#{accountid}, #{folderid}, #{immortalid})
	</insert>

	<insert id="insert" parameterType="com.zulong.keel.cmdb.db.model.Collection">
		insert into collection ( accountid, folderid, immortalid )
		values (#{accountid}, #{folderid}, #{immortalid})
	</insert>

</mapper>
