<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zulong.keel.cmdb.db.dao.ImmortalDao">
	<resultMap id="ImmortalResultMap" type="com.zulong.keel.cmdb.db.model.Immortal">
	</resultMap>

	<insert id="insertAndGetAotuIncrementID" parameterType="com.zulong.keel.cmdb.db.model.Immortal" useGeneratedKeys="true" keyProperty="id">
		insert into immortal ( id, cname, fname, gender, field, avatar, nationality, born, birth, death, constellation, college, contribution, honor, description, view, favor, create_account, create_time, modify_account, modify_time )
		values (#{id}, #{cname}, #{fname}, #{gender}, #{field}, #{avatar}, #{nationality}, #{born}, #{birth}, #{death}, #{constellation}, #{college}, #{contribution}, #{honor}, #{description}, #{view}, #{favor}, #{create_account}, #{create_time}, #{modify_account}, #{modify_time})
	</insert>

	<insert id="insert" parameterType="com.zulong.keel.cmdb.db.model.Immortal">
		insert into immortal ( id, cname, fname, gender, field, avatar, nationality, born, birth, death, constellation, college, contribution, honor, description, view, favor, create_account, create_time, modify_account, modify_time )
		values (#{id}, #{cname}, #{fname}, #{gender}, #{field}, #{avatar}, #{nationality}, #{born}, #{birth}, #{death}, #{constellation}, #{college}, #{contribution}, #{honor}, #{description}, #{view}, #{favor}, #{create_account}, #{create_time}, #{modify_account}, #{modify_time})
	</insert>

</mapper>
