<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zulong.keel.cmdb.db.dao.IntroduceDao">
	<resultMap id="IntroduceResultMap" type="com.zulong.keel.cmdb.db.model.Introduce">
	</resultMap>

	<insert id="insertAndGetAotuIncrementID" parameterType="com.zulong.keel.cmdb.db.model.Introduce" useGeneratedKeys="true" keyProperty="id">
		insert into introduce ( id, immortalid, content )
		values (#{id}, #{immortalid}, #{content})
	</insert>

	<insert id="insert" parameterType="com.zulong.keel.cmdb.db.model.Introduce">
		insert into introduce ( id, immortalid, content )
		values (#{id}, #{immortalid}, #{content})
	</insert>

</mapper>
